*.log
*.dmp
*.zip
*.obj
dist/
native/build*/
/.build/
/work/
/.toolchain/
/external/
/ui-authoring/Binaries/
/ui-authoring/DerivedDataCache/
/ui-authoring/Intermediate/
/ui-authoring/Saved/
/ui-authoring/.vs/
/ui-authoring/PalSkillDPSUI.sln
/ui-authoring/Content/Mods/PalSkillDPSAnalyzerSP/*.uasset
/ui-authoring/Content/Mods/PalSkillDPSAnalyzerSP/*.uexp
/ui-authoring/Content/Mods/PalSkillDPSAnalyzerSP/*.ubulk
/workshop/content/Paks/*.pak
/workshop/content/LogicMods/*.pak
.idea/
.vscode/
enabled.txt.disabled*
